.wrapper {
    text-align: center;
    padding-top: 40px;
}

.point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #C0C0C0;
   
}
.link {
    cursor: pointer;
    border: #212628 solid 1px;
}
.line {
    width: 159px;
    border: 1px solid #C0C0C0;
    transform: rotate(-0.36deg);
}

.navItem {
    display: flex;
    align-items: center;
    justify-content: center;

}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #212628;
}